<html lang="en_GB" >


<body style="padding:50px;"  >

<style>
    @import url("https://use.typekit.net/tlo3gzt.css");

    .message {
        font-family:"mrs-eaves";
        margin-top:400px;
        text-align: center;
        font-size:30px;
        font-style:italic;
    }
</style>

<div class="message">{{ giftMessage }}</div>

</body>

</html>