<div>
    <p>{{ data.message }}</p>

    <p>Order Number: {{ data.orderID }}</p>

    {% if photos|length > 0 %}
        <h3>Photos</h3>
        <table cellspacing="0" cellpadding="5" border="0">
            {% for photo in photos %}
                <tr>
                    <td>
                        <a href="{{ photo.url }}" target="_blank">
                            <img src="{{ photo.url }}" style="max-height:200px" height="200" align="left" border="0">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>