<div id="orderEditor">
    <order-editor
            :id="{{ order_id }}"
            :urls='{{ urls | json }}'
    ></order-editor>
    <modal-controller></modal-controller>
    <notice-controller></notice-controller>
</div>
